.container {
    min-height: 100%;
}

.text-center {
    text-align: center;
}

.white-text {
    color: #e4e3e3;
}

.background-color {
    background-color: #242526;
}

.submit {
    background-color: #3c4043;
    cursor: pointer;
    color: #1a8be1;
    height: 35px;
    width: 135px;
    border-radius: 5px;
    border-color: #868686;
    border-width: thin;
}

.nav {
    background-color: black;
    height: 5em;
}

body {
    margin: 0 !important;
    height: 100vh;
}

.display-flex {
    display: flex;
}

.ps-2 {
    padding-left: 2rem;
}

.input-title {
    display: inline-grid;
    justify-items: start;
}

form {
    display: grid;
    justify-content: center;
    gap: 2vh;
}

.overflow-hidden {
    overflow: hidden;
}

input {
    border-radius: 5px;
    border-color: transparent;
}

input:focus {
    outline: none;
}

input:disabled {
    color: white;
}

.display-none {
    display: none;
}

table {
    color: white;
    justify-content: center;
    display: flex;
}